{% extends '::base.html.twig' %}

{% block body -%}
    <div id="page-title">
        <h2>Accueil a BIG TEST</h2>
        <p>Bienvenu dans le backoffice EDICOM</p>

    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">

        </div>
    </div>
    </div>

{% endblock %}